# Python
.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Modelos grandes (>100MB, incompatibles con GitHub)
model/rf_anxiety.joblib

# Dataset pesado
data.csv

# OS
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.local
